# This is the configuration file for the LightingControl utility 

General:
  # The name of the application
  AppName: My Home Lights
  # Number of seconds to wait before checking the schedules again
  CheckInterval: 60


# Use this section to configure your Shelly devices used to control the lights
# See this page for more information: https://nickelseyspelloc.github.io/sc_utility/guide/shelly_control/
ShellyDevices:
  ResponseTimeout: 3
  RetryCount: 1
  RetryDelay: 2
  PingAllowed: True
  WebhooksEnabled: True
  WebhookHost: 192.168.1.99
  WebhookPort: 8787
  WebhookPath: /shelly/webhook  
  Devices:
    - Name: Downstairs Lights
      Model: Shelly2PMG3
      Simulate: False
      Outputs:
        - Name: "Living Room"
        - Name: "Kitchen"
    - Name: Outside Lights
      Model: Shelly2PMG3
      Simulate: False
      Outputs:
        - Name: "Patio"
          Group: External Lights
        - Name: "Driveway"
          Group: Nighttime


# Use this section to specify the geographic location and timezone of your installation. This is used to determine the dawn and dusk times for lighting control.
# You can do this in one of three ways:
# 1. Use a Shelly device's location (using IP lookup)- just specify the device name in the UseShellyDevice field
# 2. Use a Google Maps URL to extract the location - specify the GoogleMapsURL field and the Timezone field.
# 3. Manually specify the latitude and longitude - specify the Timezone, Latitude and Longitude fields.
Location:
  UseShellyDevice: 
  Timezone: Europe/Rome
  GoogleMapsURL: https://www.google.com/maps/place/Rome,+Metropolitan+City+of+Rome+Capital/@41.9099533,12.3711975,101027m
  Latitude: 
  Longitude: 


# Define one or more schedules for controlling the lights
Schedules:
  - Name: Inside Lighting
    Events: 
      - TurnOn: "07:00"
        TurnOff: "09:30"
        DaysOfWeek: Mon,Tue,Wed,Thu,Fri
      - TurnOn: "20:00"
        TurnOff: "23:00"
        DaysOfWeek: All
  - Name: Dusk to Dawn
    Events: 
      - TurnOn: Dusk
        TurnOff: Dawn-01:00
        RandomOffset: 30
        DaysOfWeek: Sat,Sun,Tue
        DatesOff: 
        - StartDate: 2025-09-01
          EndDate: 2025-09-10
  
# Maps the schedules to switches and switch groups
LightingControl:
  - Type: Default
    Schedule: Inside Lighting
  - Type: Switch Group
    Target: External Lights
    Schedule: Dusk to Dawn


Files:
  # The name of the saved state file. This is used to store the state of the device between runs.
  SavedStateFile: system_state.json
  LogfileName: logs/logfile.log
  LogfileMaxLines: 5000
  # How much information do we write to the log file. One of: none; error; warning; summary; detailed; debug
  LogfileVerbosity: detailed
  # How much information do we write to the console. One of: error; warning; summary; detailed; debug
  ConsoleVerbosity: detailed
  # The state file keeps a log of the switch state changes. This option controls how many days of history we keep. Defaults to 30 days.
  MaxDaysSwitchChangeHistory: 14


# Enter your settings here if you want to be emailed when there's a critical error 
Email:
  EnableEmail: True                         # Set to True to enable email notifications 
  SendEmailsTo: <Your email address here>   # The email address to send notifications to
  SMTPServer: <Your SMTP server here>       # The SMTP server to use to send the email
  SMTPPort: 587                             # The SMTP server port
  SMTPUsername: <Your SMTP username here>   # The SMTP username. Alternatively, set the SMTP_USERNAME environment variable.
  SMTPPassword: <Your SMTP password here>   # The SMTP password or app password. Alternatively, set the SMTP_PASSWORD environment variable.
  SubjectPrefix: "[My Lights]: "            # A prefix to add to the email subject line


ViewerWebsite:
  # Enable or disable posting to the web viewer app
  Enable: True
  # Base URL for the PowerControllerViewer website to post state information to
  BaseURL: http://127.0.0.1:8000
  AccessKey: <Your website API key here>  # The access key for the PowerControllerViewer app. Alternatively, set the VIEWER_ACCESS_KEY environment variable.
  APITimeout: 20
  # How often to post the state to the web viewer app (in seconds)
  Frequency: 10


# Optionally configure a heartbeat monitor to check the availability of a website - using BetterStack uptime
HeartbeatMonitor:
  # The URL of the website to monitor for availability
  WebsiteURL: https://uptime.betterstack.com/api/v1/heartbeat/myheatbeatid
  # How long to wait for a response from the website before considering it down in seconds
  HeartbeatTimeout: 5